<div class="container">
  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center">Questions</div>
    <div class="card-body">
      <div>
        <div *ngFor="let q of questions">
          <div>
            <h5 [innerHTML]="q.question"></h5>
            <h6>Difficulty: {{q.difficulty}}</h6>
            <select id="answer" [(ngModel)]="selectedOptions">
              <option *ngFor="let a of q.incorrect_answers" [ngValue]="a">
                {{a}}
              </option>
              <option>{{q.correct_answer}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
