<div class="container">
  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center">Questions</div>
    <div class="card-body">
      <div>
        <div *ngFor="let q of questions">
          <div>
            <h5 [innerHTML]="q.question" class="lead"></h5>
            <h6>Difficulty: {{q.difficulty}}</h6>
            <select id="{{q.question}}" class="form-select" (click)="this.saveAnswer(q.question, selectedAnswer)" [(ngModel)]="selectedAnswer" >
              <option *ngFor="let a of q.incorrect_answers" [ngValue]="a" [innerHTML]="a">
              </option>
              <option [ngValue]="q.correct_answer" [innerHTML]="q.correct_answer">{{q.correct_answer}}</option>
            </select>
          </div>
        </div>
        <div>
          <br>
          <button type="button" (click)="onSubmit()" class="btn btn-primary">Submit answers</button>
        </div>
      </div>
    </div>
  </div>
</div>
